:root {
	--main-fontFamily: 'Barlow Condensed', sans-serif;
	--main-width: 300px;
	--main-height: 600px;
	--main-border: 1px solid #A5A9B0;
	--main-gradient: linear-gradient(180deg, #FFFFFF 0%, #9EA3AB 75%, #E3E3E3 100%);
	--logo-width: 100px;
	--logo-height: 36px;
	--title-order-size: 32px;
	--title-order-color: #111;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,
body {
	font-family: var(--main-fontFamily);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.banner {
	max-width: var(--main-width);
	height: var(--main-height);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background: var(--main-gradient);
	border: var(--main-border);
	overflow: hidden;
}

.banner_container {
	padding-top: 30px;
	padding-bottom: 40px;
}

.banner_link {
	display: block;
	width: 100%;
	height: 100%;
}

.banner_logo {
	width: var(--logo-width);
	height: var(--logo-height);
	margin-left: auto;
	margin-right: auto;
}

.banner_title {
	margin-top: 74px;
	font-size: var(--title-order-size);
	font-weight: 700;
	text-align: center;
	color: var(--title-order-color);
	line-height: 38px;
	font-style: italic;
	height: 76px;
	/*  */
	opacity: 0;
}

.btn {
	display: inline-block;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
}

.banner_price {
	margin-top: 20px;
	background-color: #FF0000;
	font-size: 24px;
	width: 109px;
	height: 39px;
	/*  */
	opacity: 0;
	transform: translateY(150px);
}

.banner_img {
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	/*  */
	transform: translateX(100%);
	opacity: 0;
}

.banner_order {
	background-color: var(--title-order-color);
	color: #fff;
	font-size: var(--title-order-size);
	text-transform: uppercase;
	width: 188px;
	height: 50px;
	opacity: 0;
}

.banner_title-active {
	animation: .3s linear .3s forwards title;
}

.banner_price-active {
	animation: .3s linear .9s forwards price;
}

.banner_img-active {
	animation: .3s linear .6s forwards img;
}

.banner_order-active {
	animation: .8s linear 1.2s infinite alternate order;
}

@keyframes title {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes price {
	from {
		opacity: 0;
		transform: translateY(150px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes img {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes order {
	from {
		transform: scale(1);
		;
	}

	to {
		transform: scale(1.3);
		opacity: 1;
	}
}