:root {
	--main-fontFamily: 'Barlow Condensed', sans-serif;
	--main-width: 300px;
	--main-height: 600px;
	--main-border: 1px solid #A5A9B0;
	--main-gradient: linear-gradient(180deg, #FFFFFF 0%, #9EA3AB 75%, #E3E3E3 100%);
	--logo-width: 100px;
	--logo-height: 36px;
	--title-order-size: 32px;
	--title-order-color: #111;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html,
body {
	font-family: var(--main-fontFamily);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.banner {
	width: var(--main-width);
	height: var(--main-height);
	background: var(--main-gradient);
	border: var(--main-border);
	margin: 20px auto;
	overflow: hidden;
}

.banner_link {
	display: block;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 40px;
	display: none;
	position: relative;
}

.banner-active {
	display: block;
}

.banner_logo {
	display: block;
	width: var(--logo-width);
	height: var(--logo-height);
	margin-left: auto;
	margin-right: auto;
}

.banner_title {
	margin-top: 74px;
	color: var(--title-order-color);
	font-size: var(--title-order-size);
	text-align: center;
	min-height: 76px;
	opacity: 0;
}

.btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 3px;
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	width: 100%;
}

.banner_price {
	max-width: 109px;
	background-color: #FF0000;
	top: 40%;
	left: 50%;
	font-size: 24px;
	transform: translate(-50%, 150px);
	opacity: 0;
}

.banner_img {
	width: 300px;
	height: 300px;
	opacity: 0;
	transform: translateX(300px);
}

.banner_order {
	max-width: 188px;
	background-color: var(--title-order-color);
	font-size: var(--title-order-size);
	text-transform: uppercase;
	opacity: 0;
	left: 50%;
	transform: translateX(-50%) scale(0);
}

.banner-active .banner_title {
	animation: title 1s .5s forwards;
}

.banner-active .banner_img {
	animation: img 1s 1s forwards;
}

.banner-active .banner_price {
	animation: price 1s 1.5s forwards;
}

.banner-active .banner_order {
	animation: order 1s 2s forwards alternate infinite;
}

@keyframes title {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes img {
	from {
		opacity: 0;
		transform: translateX(300px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes price {
	from {
		opacity: 0;
		transform: translate(-50%, 150px);
	}

	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes order {
	from {
		opacity: 0;
		transform: translateX(-50%) scale(0);
	}

	to {
		opacity: 1;
		transform: translateX(-50%) scale(1.2);
	}
}